<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <hooks>
        <hook id="zendesk.database.render.front.tools.hook" class="ZenDesk\Hook\ZendeskDataTableFrontHook">
            <tag name="hook.event_listener" event="front.easydatatablemanager.js" type="front" method="renderDataTableTools" />
        </hook>
    </hooks>
</config>
