{block name="after-admin-css"}
    {include file="css/comments.css.html"}
{/block}

<!-- Show Tickets information in modal-->
<div id="Modal-infos" class="Modal_infos">
    {if $ticketId}
        <div class="Headline Headline--2 mb-6 font-bold text-main text-center">#{$ticketId} - {$ticketName}</div>
    {/if}
    <div>
        <a class="Button Button--primary mb-4" href="#{count($comments)}">{intl l="show last message" d='zendesk.fo.default'}</a>
    </div>
    <div>
        {foreach from=$comments item=comment key=k}
            <p class="comment-title">{intl l="comment" d='zendesk.fo.default'} {$k+1}</p>
            <div id={$k+1}>
                <div class="comment">
                    <div class="comment-author-picture">
                        <img class="img-rounded" src="{$comment.author_picture_url}" alt="author-picture">
                    </div>
                    <div class="comment-info">
                        <strong class="text-main comment-author-name">{$comment.author_name}</strong>
                        - {$comment.created_at_str}
                        <span class="comment-date"> - {$comment.created_at}</span>
                    </div>
                    <div class="comment-author-email">
                        {$comment.author_email}
                    </div>
                </div>
            </div>
            <div id="Modal-comment" class="text-main m-2 border-2 border-main p-4">
                {$comment.body nofilter}

                {if isset($comment.attachments)}
                    <div class="text-gray">
                        {foreach from=$comment.attachments item=attachment}
                            <a href="{$attachment.content_url}" target="_blank">{$attachment.file_name}</a>
                        {/foreach}
                    </div>
                {/if}
            </div>
        {/foreach}
    </div>
</div>