{if $tickets}
<div class="AccountCard col-span-2">
    <h1 class="Headline Headline--2 mb-6 font-bold text-main">
        {intl l="My ZenDesk Tickets"}
    </h1>

    <div id="module-easy-datatable-manager" class="module-easy-datatable-manager">
    {$filters nofilter}
    <div class="row">
        {foreach from=$template_fields|default:[] item=template}
            {include $template}
        {/foreach}
    </div>
        <div class="row">
            <div class="col-md-12 filter">
                <table class="js-list table table-striped table-bordered Table--ticket">
                </table>
            </div>
        </div>
    </div>
</div>
{/if}